* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 300px;
    width: 300px;
}

.MotoGP-logo{
    height: 80px;
    width: auto;
    display: block;
}

.navbar {
    font-size: 20px;
}

.navbar li a:hover{
    display: block;
    background-color: #b6b6b6;
}

.publicaciones {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

